'fileTypes': [
  'm'
]
'name': 'MATLAB'
'scopeName': 'source.matlab'
'patterns': [
  {
    'begin': '^\\s*\\b(classdef)\\b\\s+'
    'beginCaptures':
      '1':
        'name': 'keyword.type.matlab'
    'end': '(.(?=\\%)|\\r?\\n)'
    'name': 'type.class.declaration.matlab'
    'patterns': [
      {
        'begin': '\\('
        'beginCaptures':
          '0':
            'name': 'enclosure.group.open.matlab'
        'end': '\\)'
        'endCaptures':
          '0':
            'name': 'enclosure.group.close.matlab'
        'patterns': [
          {
            'match': '(\\w+)\\s*(?:(\\=)\\s*(\\w+)\\s*)?(\\,)?'
            'captures':
              '1':
                'name': 'keyword.qualifer.matlab'
              '2':
                'name': 'operator.character.assignment.matlab'
              '3':
                'name': 'keyword.qualifier.matlab'
              '4':
                'name': 'operator.character.matlab'
          }
        ]
      }
      {
        'match': '(\\w+)(?:\\s*(\\<)\\s*(\\w+))?'
        'captures':
          '1':
            'name': 'type.name.matlab'
          '2':
            'name': 'operator.character.matlab'
          '3':
            'name': 'type.name.matlab'
      }
      {
        'match': '\\s*(\\&)\\s*(\\w+)'
        'captures':
          '1':
            'name': 'operator.character.matlab'
          '2':
            'name': 'type.name.matlab'
      }
    ]
  }
  {
    'match': '^\\s*\\b(enumeration)\\b\\s*\\r?\\n'
    'captures':
      '1':
        'name': 'keyword.type.matlab'
    'name': 'type.enumeration.declaration.matlab'
  }
  {
    'match': '^\\s*\\b(events)\\b\\s*\\r?\\n'
    'captures':
      '1':
        'name': 'keyword.type.matlab'
    'name': 'type.event.declaration.matlab'
  }
  {
    'begin': '^\\s*\\b(properties)\\b'
    'beginCaptures':
      '1':
        'name': 'keyword.qualifer.matlab'
    'end': '(.(?=\\%)|\\r?\\n)'
    'patterns': [
      {
        'begin': '\\('
        'beginCaptures':
          '0':
            'name': 'enclosure.group.open.matlab'
        'end': '\\)'
        'endCaptures':
          '0':
            'name': 'enclosure.group.close.matlab'
        'patterns': [
          {
            'match': '(\\w+)\\s*(?:(\\=)\\s*(\\w+)\\s*)?(\\,)?'
            'captures':
              '1':
                'name': 'keyword.qualifer.matlab'
              '2':
                'name': 'operator.character.assignment.matlab'
              '3':
                'name': 'keyword.qualifier.matlab'
              '4':
                'name': 'operator.character.matlab'
          }
        ]
      }
    ]
    'name': 'type.class.property.declaration.matlab'
  }
  {
    'begin': '^\\s*\\b(methods)\\b'
    'beginCaptures':
      '1':
        'name': 'keyword.qualifier.matlab'
    'end': '(.(?=\\%)|\\r?\\n)'
    'patterns': [
      {
        'begin': '\\('
        'beginCaptures':
          '0':
            'name': 'enclosure.group.open.matlab'
        'end': '\\)'
        'endCaptures':
          '0':
            'name': 'enclosure.group.close.matlab'
        'patterns': [
          {
            'match': '(\\w+)\\s*(?:(\\=)\\s*(\\w+)\\s*)?(\\,)?'
            'captures':
              '1':
                'name': 'keyword.qualifer.matlab'
              '2':
                'name': 'operator.character.assignment.matlab'
              '3':
                'name': 'keyword.qualifier.matlab'
              '4':
                'name': 'operator.character.matlab'
          }
        ]
      }
    ]
    'name': 'type.class.method.declaration.matlab'
  }
  {
    'begin': '\\%\\{'
    'beginCaptures':
      '0':
        'name': 'comment.block.open.matlab'
    'contentName': 'comment.block.content.matlab'
    'end': '(\\%\\})'
    'endCaptures':
      '0':
        'name': 'comment.block.close.matlab'
    'name': 'comment.block.matlab'
  }
  {
    'match': '(\\%{2})(.*)\\r?\\n'
    'captures':
      '1':
        'name': 'comment.section.open.matlab'
      '2':
        'name': 'comment.section.content.matlab'
    'name': 'comment.section.matlab'
  }
  {
    'match': '(\\%)(.*)\\r?\\n'
    'captures':
      '1':
        'name': 'comment.line.open.matlab'
      '2':
        'name': 'comment.line.content.matlab'
    'name': 'comment.line.matlab'
  }
  {
    'begin': '^\\s*\\b(function)\\b'
    'beginCaptures':
      '1':
        'name': 'keyword.type.function.matlab'
    'end': '(.(?=\\%)|\\r?\\n)'
    'name': 'type.function.declaration.matlab'
    'patterns': [
      {
        'begin': '\\['
        'beginCaptures':
          '0':
            'name': 'enclosure.group.open.matlab'
        'end': '(\\])\\s*(\\=)\\s*'
        'endCaptures':
          '1':
            'name': 'enclosure.group.close.matlab'
          '2':
            'name': 'operator.character.assignment.matlab'
        'patterns': [
          {
            'match': '(\\w+)\\s*(,)?'
            'captures':
              '1':
                'name': 'variable.argument.output.matlab'
              '2':
                'name': 'operator.character.separator.matlab'
          }
        ]
      }
      {
        'match': '(\\w+)\\s*(\\=)\\s*'
        'captures':
          '1':
            'name': 'variable.argument.output.matlab'
          '2':
            'name': 'operator.character.assignment.matlab'
      }
      {
        'begin': '\\('
        'beginCaptures':
          '0':
            'name': 'enclosure.group.open.matlab'
        'end': '\\)'
        'endCaptures':
          '0':
            'name': 'enclosure.group.close.matlab'
        'patterns': [
          {
            'match': '(\\w+)\\s*(,)?'
            'captures':
              '1':
                'name': 'variable.argument.input.matlab'
              '2':
                'name': 'operator.character.separator.matlab'
          }
        ]
      }
      {
        'match': '(?:(get|set)(\\.))?(\\w+)'
        'captures':
          '1':
            'name': 'keyword.control.matlab'
          '2':
            'name': 'operator.character.matlab'
          '3':
            'name': 'type.function.name.matlab'
      }
    ]
  }
  {
    'match': '\\b(classdef|function|global|persistent)\\b'
    'name': 'keyword.type.matlab'
  }
  {
    'match': '\\b(break|case|catch|continue|else|elseif|end|for|if|otherwise|parfor|return|spmd|switch|try|while)\\b'
    'name': 'keyword.control.matlab'
  }
  {
    'match': '\\b(nargin|nargout|varargin|varargout)\\b'
    'name': 'keyword.other.matlab'
  }
  {
    'match': '\\b(?<![\\.])(eps|false|flintmax|inf|Inf|intmax|intmin|namelengthmax|nan|NaN|pi|realmax|realmin|true)(?![\\(\\.])\\b'
    'name': 'keyword.literal.matlab'
  }
  {
    'match': '(?<![\\w\\.])\\d+\\.?\\d*(?:[eE][\\+\\-]?\\d+)?[ij]?\\b'
    'name': 'literal.number.matlab'
  }
  {
    'match': '(\\\')(\\\')'
    'captures':
      '1':
        'name': 'enclosure.string.open.matlab'
      '2':
        'name': 'enclosure.string.close.matlab'
  }
  {
    'match': '(?<![\\w\\]\\)\\}])(\\\')([^\\\']+)(\\\')'
    'captures':
      '1':
        'name': 'enclosure.string.open.matlab'
      '2':
        'name': 'literal.string.content.matlab'
      '3':
        'name': 'enclosure.string.close.matlab'
    'name': 'literal.string.matlab'
  }
  {
    'match': '(\\=|\\=\\=|\\~|\\~\\=|\\>|\\>\\=|\\<|\\<\\=|\\&|\\&\\&|\\||\\|\\||\\+|\\.\\+|\\\\|\\.\\\\|/|\\./|\\^|\\.\\^|\\*|\\.\\*|\\-|\\.\\-|\\@|\\:|\\;|\\!|\\.|\\,|\\\')'
    'name': 'operator.character.matlab'
  }
  {
    'match': '\\['
    'name': 'enclosure.array.open.matlab'
  }
  {
    'match': '\\]'
    'name': 'enclosure.array.close.matlab'
  }
  {
    'match': '\\('
    'name': 'enclosure.group.open.matlab'
  }
  {
    'match': '\\)'
    'name': 'enclosure.group.close.matlab'
  }
  {
    'match': '\\{'
    'name': 'enclosure.cell.open.matlab'
  }
  {
    'match': '\\}'
    'name': 'enclosure.cell.close.matlab'
  }
]
