'fileTypes': [
  'm'
]
'name': 'MATLAB'
'scopeName': 'source.matlab'
'patterns': [
  {
    'begin': '^\\s*\\b(classdef)\\b\\s+'
    'beginCaptures':
      '1':
        'name': 'storage.type.matlab'
      '2':
        'name': 'entity.name.class.matlab'
      '3':
        'name': 'keyword.operator.matlab'
      '4':
        'name': 'entity.name.class.matlab'
    'end': '(.(?=\\%)|\\r?\\n)'
    'name': 'meta.class.declaration.matlab'
    'patterns': [
      {
        'begin': '\\('
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.parameters.begin.matlab'
        'end': '\\)'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.parameters.end.matlab'
        'patterns': [
          {
            'match': '(\\w+)\\s*(?:(\\=)(\\w+))?(\\,)?'
            'captures':
              '1':
                'name': 'storage.modifier.matlab'
              '2':
                'name': 'keyword.operator.matlab'
              '3':
                'name': 'storage.modifier.matlab'
              '4':
                'name': 'keyword.operator.matlab'
          }
        ]
      }
      {
        'match': '(\\w+)(?:\\s*(\\<)\\s*(\\w+))?'
        'captures':
          '1':
            'name': 'entity.name.class.matlab'
          '2':
            'name': 'keyword.operator.matlab'
          '3':
            'name': 'entity.name.superclass.matlab'
      }
      {
        'match': '\\s*(\\&)\\s*(\\w+)'
        'captures':
          '1':
            'name': 'keyword.operator.matlab'
          '2':
            'name': 'entity.name.superclass.matlab'
      }
    ]
  }
  {
    'match': '^\\s*\\b(enumeration)\\b\\s*\\r?\\n'
    'captures':
      '1':
        'name': 'keyword.other.matlab'
    'name': 'meta.class.enumerators.matlab'
  }
  {
    'begin': '^\\s*\\b(properties)\\b'
    'beginCaptures':
      '1':
        'name': 'keyword.other.matlab'
    'end': '(.(?=\\%)|\\r?\\n)'
    'patterns': [
      {
        'begin': '\\('
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.parameters.begin.matlab'
        'end': '\\)'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.parameters.end.matlab'
        'patterns': [
          {
            'match': '(\\w+)\\s*(?:(\\=)(\\w+))?(\\,)?'
            'captures':
              '1':
                'name': 'storage.modifier.matlab'
              '2':
                'name': 'keyword.operator.matlab'
              '3':
                'name': 'storage.modifier.matlab'
              '4':
                'name': 'keyword.operator.matlab'
          }
        ]
      }
    ]
    'name': 'meta.class.properties.matlab'
  }
  {
    'begin': '^\\s*\\b(methods)\\b'
    'beginCaptures':
      '1':
        'name': 'keyword.other.matlab'
    'end': '(.(?=\\%)|\\r?\\n)'
    'patterns': [
      {
        'begin': '\\('
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.parameters.begin.matlab'
        'end': '\\)'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.parameters.end.matlab'
        'patterns': [
          {
            'match': '(\\w+)\\s*(?:(\\=)(\\w+))?(\\,)?'
            'captures':
              '1':
                'name': 'storage.modifier.matlab'
              '2':
                'name': 'keyword.operator.matlab'
              '3':
                'name': 'storage.modifier.matlab'
              '4':
                'name': 'keyword.operator.matlab'
          }
        ]
      }
    ]
    'name': 'meta.class.methods.matlab'
  }
  {
    'begin': '(\\%\\{)'
    'beginCaptures':
      '1':
        'name': 'comment.block.open.matlab'
    'end': '(\\%\\})'
    'endCaptures':
      '1':
        'name': 'comment.block.close.matlab'
    'contentName': 'comment.block.content.matlab'
    'name': 'comment.block.matlab'
  }
  {
    'match': '(\\%{2})(.*)\\r?\\n'
    'captures':
      '1':
        'name': 'comment.section.open.matlab'
      '2':
        'name': 'comment.section.content.matlab'
    'name': 'comment.section.matlab'
  }
  {
    'match': '(\\%)(.*)\\r?\\n'
    'captures':
      '1':
        'name': 'comment.line.open.matlab'
      '2':
        'name': 'comment.line.content.matlab'
    'name': 'comment.line.matlab'
  }
  {
    'begin': '^\\s*\\b(function)\\b'
    'beginCaptures':
      '1':
        'name': 'storage.type.matlab'
    'end': '(.(?=\\%)|\\r?\\n)'
    'name': 'meta.function.declaration.matlab'
    'patterns': [
      {
        'begin': '\\('
        'beginCaptures':
          '0':
            'name': 'keyword.operator.group.open.matlab'
        'end': '\\)'
        'endCaptures':
          '0':
            'name': 'keyword.operator.group.close.matlab'
        'patterns': [
          {
            'match': '(\\w+)\\s*(,)?'
            'captures':
              '1':
                'name': 'variable.parameter.input.function.matlab'
              '2':
                'name': 'keyword.operator.matlab'
          }
        ]
      }
      {
        'begin': '\\['
        'beginCaptures':
          '0':
            'name': 'keyword.operator.array.open.matlab'
        'end': '(\\])\\s*(\\=)\\s*(?:(get|set)(\\.))?(\\w+)'
        'endCaptures':
          '1':
            'name': 'keyword.operator.array.close.matlab'
          '2':
            'name': 'keyword.operator.matlab'
          '3':
            'name': 'keyword.special-method.matlab'
          '4':
            'name': 'keyword.operator.matlab'
          '5':
            'name': 'entity.name.function.matlab'
        'patterns': [
          {
            'match': '(\\w+)\\s*(,)?'
            'captures':
              '1':
                'name': 'variable.parameter.output.function.matlab'
              '2':
                'name': 'keyword.operator.matlab'
          }
        ]
      }
      {
        'match': '(?:(\\w+)\\s*(\\=)\\s*)?(?:(get|set)(\\.))?(\\w+)'
        'captures':
          '1':
            'name': 'variable.parameter.output.function.matlab'
          '2':
            'name': 'keyword.operator.matlab'
          '3':
            'name': 'keyword.special-method.matlab'
          '4':
            'name': 'keyword.operator.matlab'
          '5':
            'name': 'entity.name.function.matlab'
      }
    ]
  }
  {
    'match': '\\b(classdef|function|global|persistent)\\b'
    'name': 'storage.type.matlab'
  }
  {
    'match': '\\b(break|case|catch|continue|else|elseif|end|for|if|otherwise|parfor|return|spmd|switch|try|while)\\b'
    'name': 'keyword.control.matlab'
  }
  {
    'match': '\\b(nargin|nargout)\\b'
    'name': 'keyword.other.matlab'
  }
  {
    'match': '\\b(?<![\\.])(eps|false|flintmax|inf|Inf|intmax|intmin|namelengthmax|nan|NaN|pi|realmax|realmin|true)(?![\\(\\.])\\b'
    'name': 'constant.language.matlab'
  }
  {
    'match': '(?<![\\w\\.])\\d+\\.?\\d*(?:[eE][\\+\\-]?\\d+)?[ij]?\\b'
    'name': 'constant.numeric.matlab'
  }
  {
    'match': '(?<![\\w\\]\\)\\}])(\\\')[^\n\\\']*(\\\')'
    'captures':
      '1':
        'name': 'punctuation.definition.string.begin.matlab'
      '2':
        'name': 'punctuation.definition.string.end.matlab'
    'name': 'string.quoted.single.matlab'
  }
  {
    'match': '(\\=|\\=\\=|\\~|\\~\\=|\\>|\\>\\=|\\<|\\<\\=|\\&|\\&&|\\||\\|\\||\\+|\\.\\+|\\\\|\\.\\\\|\\^|\\.\\^|\\*|\\.\\*|\\-|\\.\\-|\\@|\\:|\\;|!|\\.|\\,|\\\')'
    'name': 'keyword.operator.matlab'
  }
  {
    'match': '\\['
    'name': 'keyword.operator.array.open.matlab'
  }
  {
    'match': '\\]'
    'name': 'keyword.operator.array.close.matlab'
  }
  {
    'match': '\\('
    'name': 'keyword.operator.group.open.matlab'
  }
  {
    'match': '\\)'
    'name': 'keyword.operator.group.close.matlab'
  }
  {
    'match': '\\{'
    'name': 'keyword.operator.cell.open.matlab'
  }
  {
    'match': '\\}'
    'name': 'keyword.operator.cell.close.matlab'
  }
]