'.source.matlab':
  'editor':
    'commentStart': '% '
    'increaseIndentPattern': '(?x)^\\s*\\b(classdef|methods|properties|enumeration|function|if|else|elseif|switch|case|otherwise|for|parfor|while|spmd|try|catch)\\b'
    'decreaseIndentPattern': '^\\s*\\b(end\\w*|catch|else|elseif|case|otherwise)\\b'
    'foldEndPattern': '^\\s*end\\b'
